{% extends 'base.html' %}

{% block title %}Category Detail{% endblock %}

{% block nav %}
    {% if user.is_authenticated %}
        {% include 'logged-nav.html' %}
    {% else %}
        {% include 'non-logged-nav.html' %}
    {% endif %}
{% endblock %}

{% block content %}
<div class="max-w-lg mx-auto mt-10 p-6 bg-white rounded shadow">
    <h1 class="text-2xl font-bold mb-4">{{ category.name }}</h1>
    <p>{{ category.description }}</p>
    <h2 class="text-xl font-bold mt-4">Events</h2>
    <ul class="list-disc list-inside">
        {% for event in category.events.all %}
            <li>{{ event.name }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'update_category' category.pk %}" class="mt-4 inline-block bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-700">Edit Category</a>
    <form action="{% url 'delete_category' category.pk %}" method="post" class="inline-block">
        {% csrf_token %}
        <button type="submit" class="mt-4 inline-block bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700">Delete Category</button>
    </form>
</div>
{% endblock %}