{% extends 'base.html' %}

{% block title %}Delete Event{% endblock %}

{% block nav %}
    {% if user.is_authenticated %}
        {% include 'logged_nav.html' %}
    {% else %}
        {% include 'non_logged_nav.html' %}
    {% endif %}
{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">Delete Event</h1>
<p>Are you sure you want to delete the event "{{ event.name }}"?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="mt-4 inline-block bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700">Delete</button>
    <a href="{% url 'event_list' %}" class="mt-4 inline-block bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-700">Cancel</a>
</form>
{% endblock %}